
<%-- 
Name: MVC_Repository模板
Author: 曹津彬
Description: 便于以后进行创建MVC框架
--%>

<%@ CodeTemplate Inherits="CodeTemplate" Language="C#" TargetLanguage="Text" Description="NetTiers main template." 
Debug="True" ResponseEncoding="UTF-8"%>

<%-- 注册模板 --%>
<%@ Register Name="DomainEventTable" Template=".\DomainEventTable.cst" MergeProperties="False" ExcludeProperties=""%>
<%@ Register Name="CommonEve" Template=".\Infrastructure\CommonEve.cst" MergeProperties="False" ExcludeProperties=""%>

<%-- 参数 --%>
<%@ Property Name="TDB" Type="SchemaExplorer.TableSchemaCollection" Default="" Optional="False" Category="数据库" Description="选择表"%> 
<%@ Property Name="NameSapce" Type="System.String" Default="" Optional="False" Category="命名空间" Description="命名空间"%>
<%@ Property Name="Prefix" Type="System.String" Optional="True" Category="前缀名" Description="前缀名"%>
<%@ Property Name="OutPut" Type="System.String" Optional="False" Category="输出路径" Description="外部传入的输出路径参数"%>

<%

    foreach(TableSchema table in this.TDB)
    {
        this.OutputDE_Table(table);
    }
    
    CommonEve cs0 = new CommonEve();
    cs0.NameSapce = this.NameSapce;
    cs0.RenderToFile(OutPut.Trim().Length == 0 ? OutputDirectory : OutPut +"\\DomainEvent\\01 Infrastructure\\CommonEve.cs",true);
%>


<script runat="template">
// My methods here.
private void OutputDE_Table(TableSchema SourceTable)
{
	DomainEventTable bem =new DomainEventTable();
    
    string FileDirectory = OutPut.Trim().Length == 0 ? OutputDirectory : OutPut + "\\DomainEvent\\"+ Prefix +"\\"+ SourceTable.Name +"Eve.cs";
	bem.TargetTable = SourceTable;
    bem.NameSapce = this.NameSapce;
    bem.Prefix = this.Prefix;
	bem.RenderToFile(FileDirectory,true);
	Debug.WriteLine(FileDirectory +" 创建成功.");
}
</script>


<script runat="template">
//解决方案输出路径
private string Directory = String.Empty;

[Editor(typeof(System.Windows.Forms.Design.FolderNameEditor), typeof(System.Drawing.Design.UITypeEditor))] 
[Optional, NotChecked]
[DefaultValue("")]

public string OutputDirectory 
{ 
	get
	{
		return Directory;
	}
	set
	{
		if (value.EndsWith("\\")) value = value.Substring(0, value.Length -1);
		Directory = value;
	} 
}
</script>