
<%-- 
Name: MVC_Entity模板
Author: 曹津彬
Description: 便于以后进行创建MVC框架
--%>
<%@ CodeTemplate Inherits="CodeTemplate" Language="C#" TargetLanguage="Text" Description="NetTiers main template." Debug="True" ResponseEncoding="UTF-8"%>

<%@ Assembly Name="SchemaExplorer"%>
<%@ Import Namespace="SchemaExplorer"%>

<%@ Property Name="TargetTable" Type="TableSchema" DeepLoad="True" Optional="False" Category="数据表" Description="数据表"%>
<%@ Property Name="NameSapce" Type="System.String" Optional="False" Category="命名空间" Description="命名空间"%>
/*******************************************************************************
 * Copyright © <%=DateTime.Now.Year%>  <%=this.NameSapce%>版权所有
 * Author: JinBin Cao
 * Description: 领域层_Entity
*********************************************************************************/

using System;
using System.Data.Entity.ModelConfiguration;
using <%= this.NameSapce %>.Entity.Models;

namespace <%= this.NameSapce %>.Entity.Maping
{
    /// <summary>
	/// <%= TargetTable.Description %>
	/// </summary>
    public class <%=this.TargetTable.Name%>Map : EntityTypeConfiguration<<%=this.TargetTable.Name%>>
    {
        public <%=this.TargetTable.Name%>Map()
        {
            this.ToTable("<%=this.TargetTable.Name %>");
            this.HasKey(t => t.<%= this.TargetTable.PrimaryKey.MemberColumns[0].ToString().Split('.')[2] %>);
        }
    }
}

<script runat="template">
// My methods here.
public string SampleMethod()
{
  return "Method output.";
}
</script>